@import "tailwindcss";

@theme {
  /* Yahan hum apne custom colors aur shadow bata rahy hain */
  --color-navy-dark: #0a0f1e;
  --color-navy-blue: #161b30;
  --color-electric-blue: #00d2ff;
  --color-lavender: #9d4edd;
  --color-teal: #00e676;
  --color-purple: #7e57c2;
  --shadow-glow: 0 0 15px rgba(0, 210, 255, 0.3);
  --shadow-glow-active: 0 0 25px rgba(0, 210, 255, 0.6);
}

/* -----------------------------------------
   Global Settings
----------------------------------------- */
body {
  cursor: none; 
  background-color: var(--color-navy-dark); 
  color: white;
  overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

a, button, input, textarea, select {
  cursor: none !important;
}

/* -----------------------------------------
   Premium Custom Scrollbar 
----------------------------------------- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-navy-dark); 
}

::-webkit-scrollbar-thumb {
  background: var(--color-navy-blue); 
  border-radius: 10px;
  border: 1px solid var(--color-navy-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-lavender); 
}

